body{
  background-image: url("assets/background.png"); /*linked to the assets folder using appropriate path*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /*overflow:hidden;*/

}


.animated fadeInUp{
  animation-delay: 1s;
}

div{
  height: auto;
  text-align: center;
  
}

#first{
  margin-top:10em;
}


#swipe{
  width:2.5em;
  height:4em;

  margin-top:7em;

}






.button {
  color:black;

  border-radius:4em;
  border-color:white;
  position: relative;
  background-color: white;
  border: none;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  /*transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  outline:none;*/
  margin-bottom:1em;

}


/*
.button:after {
  content: "";
  background: transparent;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
*/

.spin {
    margin-top:40vh;


}




